ManagedHell/bin
ManagedHell/obj
ManagedHell.Demo/bin
ManagedHell.Demo/obj
*.suo
ManagedHell.*.user
Daemaged.ManagedHell.Demo/bin/
Daemaged.ManagedHell.Demo/obj/
Daemaged.ManagedHell/bin/
Daemaged.ManagedHell/obj/
*.user
